.list-item.even-index, .list-item.even-index input {
  background-color: rgba(0,0,0,.05);
}

.list-item.front-page, .list-item.front-page input {
 background-color: #caf1de;
}

.list-item:hover, .list-item:hover input {
  background-color:#95a5a6
} 

.list-item.selected, .list-item.selected input {
  background-color:#f7d8ba;
}




